@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #fafafa;
  --element: #ffffff;
  --input-text: #858585;
  --text: #111517;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202c37;
    --element: #2b3945;
    --input-text: #fafafa;
    --text: #ffffff;
  }

  body {
    color: var(--text);
    background: var(--background);
    height: 100%;
  }
}

body {
  color: var(--text);
  background: var(--background);
  height: 100%;
} */

select {
  -webkit-appearance: none;
  appearance: none;
}

.homeFlag {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  position: relative !important;
  object-fit: cover !important;
}

.relative {
  position: relative !important;
}
